body{

    padding: 0;
  
    margin: 0;
  
  
  
    font-family: Verdana, Calibri, sans-serif;
  
  }
  
  
  
  nav{
  
    width: 100%;
  
    background-color: #424558;
  
  }
  
  
  
  .menu-mobile{
  
    display: none;
  
  }
  
  
  
  nav input[type=checkbox]{
  
    display: none;
  
  }
  
  
  
  nav > ul{
  
    padding: 0;
  
    margin: 0;
  
  }
  
  
  
  nav > ul::after{
  
    content: "";
  
    display: table;
  
    clear: both;
  
  }
  
  
  
  nav > ul > li{
  
    float: left;
  
    position: relative;
  
  }
  
  
  
  nav li{
  
    list-style-type: none;
  
  }
  
  
  
  .menu-html .submenu{
  
    background-color: rgb(230, 100, 40);
  
  }
  
  
  
  .menu-css .submenu{
  
    background-color: rgb(000, 160, 240);
  
  }
  
  
  
  .menu-js .submenu{
  
    background-color: rgb(251, 216, 99);
  
  }

  .menu-Certification .submenu{
  
    background-color: rgb(0, 240, 20);
  
  }

  .menu-Mission .submenu{
  
    background-color: rgb(188, 123, 226);
  
  }
  
  
  
  .submenu{
  
    display: none;
  
  }
  
  
  
  .submenu li{
  
    border-bottom: 1px solid #ccc;
  
  }
  
  
  
  .submenu li a{
  
    padding: 15px 30px;
  
    font-size: 13px;
  
    color: #222538;
  
    width: 270px;
  
  }
  
  
  
  nav a{
  
    display: inline-block;
  
    text-decoration: none;
  
  }
  
  
  
  nav > ul > li > a{
  
    padding: 20px 30px;
  
    color: #fff;
  
  }
  
  
  
  .menu-html:hover{
  
    border-top: 5px solid #f80800;
  
    background-color: rgba(197, 32, 32, 0.15);
  
  }
  
  
  
  .menu-html .submenu li:hover{
  
    background-color: rgb(218, 59, 23);
  
  }
  
  
  
  .menu-css:hover{
  
    border-top: 5px solid #0099ff;
  
    background-color: rgba(000, 112, 192, 0.15);
  
  }
  
  
  
  .menu-css .submenu li:hover{
  
    background-color: rgb(1, 145, 255);
  
  }
  
  
  
  .menu-js:hover{
  
    border-top: 5px solid #fdde11;
  
    background-color: rgba(241, 211, 79, 0.15);
  
  }
  
  
  
  .menu-js .submenu li:hover{
  
    background-color: rgba(200, 165, 75);
  
  }


  .menu-Certification:hover{
  
    border-top: 5px solid #14e430;
  
    background-color: rgba(26, 230, 26, 0.15);
  
  }

  .menu-Certification .submenu li:hover{
  
    background-color: rgb(30, 175, 67);

  
  }
  

  .menu-Mission:hover{
  
    border-top: 5px solid rgb(188, 123, 226);
  
    background-color: rgb(214, 181, 233));
  
  }

  .menu-Mission .submenu li:hover{
  
    background-color: rgb(136, 57, 182);

  
  }
  
  
  .menu-contact:hover{
  
    border-top: 5px solid #bbb;
  
    background-color: rgba(220, 220, 220, 0.15);
  
  }
  
  
  
  nav > ul > li:hover a{
  
    padding: 15px 30px 20px 30px;
  
  }
  
  
  
  nav li:hover .submenu{
  
    display: inline-block;
  
    position: absolute;
  
    top: 100%;
  
    left: 0px;
  
    padding: 0px;
  
    z-index: 100000;
  
  }
  
  
  
  .submenu li:hover a{
  
    color: #eee;
  
    font-weight: bold;
  
  }