*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
body
{
    list-style: none; /*enlever les puces d'une liste*/
    background-color: rgb(57, 99, 125);
}

h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }

li{
    padding: 40px;

  }    

a
{
    
    text-decoration: none; /*Enlève le soulignement des liens*/
    color: white; /*par exemple*/

}