h1,h2,h3{
	text-align: center;

	font-family: sans-serif;
	color: darkgreen;
}

div{
	width: 75%;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	padding: 3%;

	border: 4px solid yellowgreen;
}

.global_box{
	background-color: lightyellow;
}

.intel{
	background-color: grey;
}

.amd{
	background-color: lightgrey;
}